.wrapper {
    width:100%;
    padding:20px;
}
#main-chart {
    height:600px;
    width:100%;
}
.mini-chart {
    height:300px;
    width:100%;
}
p {
    padding:10px 20px !important;
    border:1px solid #ccc !important;
}
td, th {
    height:70px;
    padding:15px;
    text-align:center;
}
.chart, .mini-chart {
    padding:30px;
}
.boxed {
    padding:0px;
    margin:0px;
    border:1px solid #ccc;
}
.red-box, .red-circle {
    height:20px;
    width:20px;
    background-color:red;
    display:inline-block;
    vertical-align: middle;
}
.red-circle {
    height:10px;
    width:10px;
    border-radius:5px;
}