.wrapper {
    width:100%;
    padding:20px;
}
#main-chart {
    height:520px;
    width:100%;
}
.mini-chart {
    height:300px;
    width:100%;
}
p {
    padding:10px 20px !important;
    border:1px solid #ccc !important;
}
td, th {
    height:70px;
    padding:15px;
    text-align:center;
}